{% extends 'base.html' %}
{% import "macros.html" as macros %}

{% block scripts %}
    {{ super() }}

{% endblock %}
{% block  content %}
{% include 'macros.html' %}

<div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-10">
        <div class="well well-lg" style="background-color: lightgrey">
            <div class="row">
                <div class="col-md-1"></div>
                <div class="col-md-10">
                    <div class="row">
                        <div align="center">
                            <u><h2>Provide details for comparision analysis</h2></u>
                        </div>
                        {% if "Run" in title %}
                            <form class="form-horizontal" method="POST" name="url" action="{{url_for('scenarios.run_analysis')}}">
                        {% endif %}

                            {{form.hidden_tag()}}

                            <div class="row" style="padding-top: 10px">
                                <div class="col-md-11">
                                    {{macros.form_field(form.currentPcdfFile, with_label=True, placeholder="", class_="form-control")}}
                                </div>
                            </div>

                            <div class="row" style="padding-top: 10px">
                                <div class="col-md-11">
                                    {{macros.form_field(form.previousPcdfFile, with_label=True, placeholder="", class_="form-control")}}
                                </div>
                            </div>

                            <div class="row" style="padding-top: 10px">
                                <div class="col-md-11">
                                    {{macros.form_field(form.currentIdxFile, with_label=True, placeholder="", class_="form-control")}}
                                </div>
                            </div>

                            <div class="row" style="padding-top: 10px">
                                <div class="col-md-11">
                                    {{macros.form_field(form.previousIdxFile, with_label=True, placeholder="", class_="form-control")}}
                                </div>
                            </div>

                            <div class="row" style="padding-top: 50px">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                    <button type="submit" class="btn btn-primary btn-block">Submit</button>
                                </div>
                            </div>
                            {# {{form.errors}} #}
                            </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
</div>

{% endblock %}